<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://npmcdn.com/bootstrap@4.0.0-alpha.3/dist/css/bootstrap.min.css" crossorigin="anonymous">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser-polyfill.js"></script>
  <script type="text/javascript" src="https://npmcdn.com/react@15/dist/react-with-addons.js"></script>
  <script type="text/javascript" src="https://npmcdn.com/react-dom@15/dist/react-dom.js"></script>
  <script src="https://npmcdn.com/reactstrap@2/dist/reactstrap.min.js"></script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Workout Log</title>
</head>

<body>
  <div id="app"></div>
</body>

<script type="text/babel">
const { Col, Button, Form, FormGroup, Label, Input, FormText, Table } = Reactstrap;

class WorkoutRow extends React.Component {
  render() {
    const set = this.props.set;

    return(
      <tr>
        <th scope="row">{set.exercise.name}</th>
        <td>{set.order}</td>
        <td>{set.weight}</td>
        <td>{set.reps}</td>
      </tr>
    )
  }
}

class WorkoutTable extends React.Component {
  render() {
    const workout = this.props.workout;

    return (
      <Table>
        <h1>Workout # {workout.id}</h1>
        <thead>
          <tr>
            <th>Exercise</th>
            <th>Set #</th>
            <th>Weight</th>
            <th>Reps</th>
          </tr>
        </thead>
        <tbody>
          {workout.sets.map((set) => {
            return <WorkoutRow set={set} />;
          })}
        </tbody>
      </Table>
    )
  }
}

class Workouts extends React.Component {
  constructor(props) {
    super(props);

    this.state = {
      workouts: []
    };
  }

  componentWillMount() {
    fetch(`http://localhost:5001/workouts`)
      .then((response) => response.json())
      .then((responseJSON) => {
        const exercises = responseJSON;
        this.setState({ workouts });
      });
  }
  
  render() {
    const workouts = this.state.workouts;

    return (
      <div>
        {
          workouts.map((workout) => {
            return <WorkoutTable workout={workout} />;
          })
        }
      </div>
    )
  }
}

class AddWorkout extends React.Component {
  constructor(props) {
    super(props);

    this.state = {
      exercises: []
    };
  }

  componentWillMount() {
    fetch(`http://localhost:5001/exercises`)
      .then((response) => response.json())
      .then((responseJSON) => {
        const exercises = responseJSON;
        this.setState({ exercises });
      });
  }

  handleSubmit(event) {
    event.preventDefault();

    const data = new FormData(event.target);
    
    fetch('http://localhost:5001/add_workout', {
      method: 'POST',
      body: data,
    });
  }  
  
  render() {
    const exerciseOptions = this.state.exercises.map((ex) => {
      return <option value={ex.id}>{ex.name}</option>
    });
    return (
      <Form method="POST" action="http://localhost:5001/add_workout" onSubmit={this.handleSubmit}>
        <FormGroup>
          <Label for="exercise1">Select</Label>
          <Input type="select" name="exercise1" id="exercise1">
            {exerciseOptions}
          </Input>
        </FormGroup>

        <FormGroup>
          <Label for="weight1">Weight</Label>
          <Input type="text" name="weight1" id="weight1" placeholder="__ lbs" />
        </FormGroup>

        <FormGroup>
          <Label for="reps1">Reps</Label>
          <Input type="text" name="reps" id="reps1" placeholder="__ reps" />
        </FormGroup>

        <input type="hidden" name="exercise_count" value="1" />

        <Button>Submit</Button>
      </Form>
    );
  }
};

ReactDOM.render(
  <Col xs="6">
    <Workouts />
    <AddWorkout />
  </Col>,
  document.getElementById('app')
);

</script>
</html>